{% extends 'base.html' %}
{% block title %}Add Subdealer
{% endblock title %}
{% block controller %}
  ng-controller="AddSubDealerController" ng-init="init('{{csrf_token}}', '{{user.id}}')"   
{% endblock controller %}
{% block body_id %}add_subdealer{% endblock %}"  
	
{% block content %}
	<div class="contents">
		{% include 'header.html' %}
		<div class="add_subdealer">
			{% if  message %}
				<span>{{ message }}</span>
			{% endif %}
			<h1>Add SubDealer</h1>
			<div class="form_content">
				<form name="add_subdealer_content">{% csrf_token %}
					<label>First Name</label>
					<input type="text" name="firstname" ng-model="firstname">
					<label>Last Name</label>
					<input type="text" name="lastname" ng-model="lastname">
					<label>Username</label>
					<input type="text" name="username" ng-model="username">
					<label>Password</label>
					<input type="password" name="password" ng-model="password">
					<label>Email ID</label>
					<input type="text" name="email" ng-model="email">
					<label>User Type</label>
					<select ng-model="user_type">
						<option value="select">Select</option>
						<option value="sub_dealer">Sub Dealer</option>
					</select>
					<p ng-show="error_flag" class="error_msg">[[error_message]]</p>
					<div class="buttons">
						<input type="submit" ng-click="add_subdealer()" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}