{% extends 'base.html' %}
{% block title %}Add Purchase Info
{% endblock title %}
{% block controller %}
  ng-controller="AddEditPurchaseInfoController" ng-init="init('{{csrf_token}}', '{{user.id}}', '')"   
{% endblock controller %}
{% block body_id %}add_purchase_info{% endblock %}"  
	
{% block content %}
	<div class="contents">
		{% include 'header.html' %}
		<div class="add_subdealer"> 
			<h1>Add SubDealer</h1>
			<div class="form_content">
				<form name="add_subdealer_content">{% csrf_token %}
					<label>Date</label>
					<input type="text" name="date" ng-model="date" placeholder="format: yyyy-mm-dd">
					<label>Dealer PO Number</label>
					<input type="text" name="dealer_po_number" ng-model="dealer_po_number">
					<label>Invoice Number</label>
					<input type="text" name="invoice_no" ng-model="invoice_no">
					<label>Dealer Name</label>
					<input type="text" name="dealer_name" ng-model="dealer_name">
					<label>Dealer Purchase in Charge</label>
					<input type="text" name="dealer_purchase_in_charge" ng-model="dealer_purchase_in_charge">
					<label>Purchaser Sales Man</label>
					<input type="text" name="purchaser_sales_man" ng-model="purchaser_sales_man">
					<label>Brand</label>
					<select ng-show="brands.length" ng-repeat="brand in brands" ng-model="brandname">
						<option value="brand.brand_name">[[brand.brand_name]]</option>
					</select>
					<input ng-hide="other_brand_flag" type="button" value="Other">
					<input ng-show="other_brand_flag" type="text" name="brand" ng-model="new_brand">
					<label>Model</label>
					<input type="text" name="model" ng-model="model">
					<label>Address</label>
					<textarea name="address" ng-model="address"></textarea>
					<label>Contact Person</label>
					<input type="text" name="contact_person" ng-model="contact_person">
					<label>Contact Number</label>
					<input type="text" name="contact_no" ng-model="contact_no">
					<label>Quantity</label>
					<input type="text" name="quantity" ng-model="quantity">
					<label>Delivery Requested Date</label>
					<input type="text" name="delivery_requested_date" ng-model="delivery_requested_date" placeholder="format: yyyy-mm-dd">
					<label>Installation Requested Date</label>
					<input type="text" name="installation_requested_date" ng-model="installation_requested_date" placeholder="format: yyyy-mm-dd">
					<label>Extra Man Power</label>
					<input type="text" name="extra_man_power" ng-model="extra_man_power">
					<label>Remarks</label>
					<textarea type="text" name="remarks" ng-model="remarks"></textarea>
					<p ng-show="error_flag" class="error_msg">[[error_message]]</p>
					<div class="buttons">
						<input type="submit" ng-click="add_purchase_info()" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}