
<!DOCTYPE html>
<html ng-app="request_delivery" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://developers.facebook.com/schema/">
	<head>
		<title>{% block title %}{% endblock title%} | Request Delivery and Installation </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Calendar css -->
		<link rel="stylesheet" href="/static/css/calendar/jquery.ui.all.css">
		<link href="/static/css/style.css" rel="stylesheet" >	


		<script src="/static/js/lib/jquery-1.9.1.js"></script>
		<script src="/static/js/lib/angular/angular.js"></script>
	    <script src="/static/js/lib/angular/angular-resource.js"></script>
	  	<script src="/static/js/app.js"></script>
	    <script src="/static/js/services.js"></script>
	  	<script src="/static/js/controllers.js"></script>
	  	<script src="/static/js/directives.js"></script>
	  	<!-- Date picker scripts  -->
	  	<script src="/static/js/calendar/jquery.ui.core.js"></script>
		<script src="/static/js/calendar/jquery.ui.widget.js"></script>
		<script src="/static/js/calendar/jquery.ui.datepicker.js"></script>
	  	<script>
			// $(function() {
			// 	$( "#datepicker" ).datepicker({
			// 		dateFormat: "yy-mm-d"
			// 	});
			// });
			$(function() {
				$( "#delivery_date" ).datepicker({
					dateFormat: "dd-mm-yy"
				});
			});
			$(function() {
				$( "#installation_date" ).datepicker({
					dateFormat: "dd-mm-yy"
				});
			});
		</script>  		

		{% block extrahead %}
		{% endblock extrahead %}
		
	</head>
	<body id="{% block body_id %}base{% endblock %}"  {% block controller %}{% endblock controller %}>
		<div class="container">
			{% block content %}
			{% endblock content %}	
		</div>
	</body>
</html>
