<div class="nav">
	<div class="nav_right">
		{% if user.is_superuser %}
			<a href="{% url 'register' %}">Register New User</a>
		{% endif %}
		<a href="{% url 'home' %}">Purchase Details</a>
		{% if user.userprofile_set.all.0.user_type == 'clerk' or user.userprofile_set.all.0.user_type == 'customer/dealer' or user.is_superuser %}
			<a href="{% url 'add_purchase_info' %}">Add Purchase Info</a>
		{% endif %}
		{% if user.userprofile_set.all.0.user_type == 'customer/dealer' %}
			<a href="{% url 'add_subdealer' user_id=user.id%}">Add Sub Dealers</a>
		{% endif %}
		<a class="last" href="{% url 'logout' %}">Logout</a>
	</div>
	<div class="nav_left">
		{% if user.userprofile_set.all.0.user_type == 'customer/dealer' %}
			<p>Welcome {{ user.userprofile_set.all.0.dealer_company_name }} Logged in : {{ user.username}}</p>
		{% else %}
			<p>Welcome {{user.first_name }} Logged in: {{ user.username}}</p>
		{% endif %}
	</div>	
</div>