<div class="nav">
	<div class="nav_right">
		
		<a href="{% url 'home' %}">Purchase Details</a>
		{% if user.userprofile_set.all.0.user_type == 'sales_executive' or user.userprofile_set.all.0.user_type == 'internal_technician' or user.is_superuser %}
			<a href="{% url 'add_purchase_info' %}">Add Purchase Info</a>
		{% endif %}
		{% if user.userprofile_set.all.0.user_type == 'customer/dealer' %}
			<a href="{% url 'add_subdealer' user_id=user.id%}">Add Sub Dealers</a>
		{% endif %}
		<a href="{% url 'logout' %}">Logout</a>
	</div>
	<div class="nav_left">
		<p>Welcome {{ user.first_name }} {{ user.last_name }}</p>
	</div>	
</div>