{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block controller %} 
	ng-controller="HomeController" ng-init="init('{{csrf_token}}')"   
{% endblock controller %}
{% block body_id %}home{% endblock %}"  

{% block content %}
	<div class="contents">
		{% include 'header.html' %}
		<div class="subcontents">
			{% if user.userprofile_set.all.0.user_type == 'customer/dealer' %}
				{% if message %}
					<p class="error_message"> {{message}} </p>
				{% endif %}
					<div>
						Please enter Delivery Order Number
						<input type="text" name="delivery_order_number" ng-model="delivery_order_number">
						<a href="#" ng-click="search_purchase_info()">Search</a>
					</div>
				
			{% else %}
				<table border="0" class="subcontent_table" cellspacing="0">
					<tr>
						<th>Sl No</th>
						<th>Date</th>
						<th>Dealer PO Number</th>
						<th>Dealer/Company Name</th>
						<th>Dealer Purchaser</th>
						<th>Dealer Sales Man</th>
						<th>Brand</th>
						<th>Model</th>
						<th>View</th>
					</tr>
					{% if purchases %}
						{% for purchase in purchases %}
							<tr class="{% cycle 'odd' 'even' %}">
								<th>{{purchase.slno}}</th>
								<th>{{purchase.date}}</th>
								<th>{{purchase.dealer_po_number}}</th>
								<th>{{purchase.dealer_company_name}}</th>
								<th>{{purchase.dealer_purchaser}}</th>
								<th>{{purchase.dealer_sales_man}}</th>
								<th>{{purchase.brand}}</th>
								<th>{{purchase.model}}</th>
								<th><a href="{% url 'purchase_info' purchase_info_id=purchase.id%}">View</a></th>
							</tr>	
						{% endfor %}
					{% endif %}
				</table>
			{% endif %}
		</div>
	</div>
{% endblock content%}