{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block body_id %}view_purchase_info{% endblock %}"  
{% block controller %}
  ng-controller="AddEditPurchaseInfoController" ng-init="init('{{csrf_token}}', '{{user.id}}', '{{purchase.id}}')"   
{% endblock controller %}
{% block content %}

	<div class="contents">
		{% include 'header.html' %}
		
		<div class="form_content">
			<h2>Puchase No : {{purchase.slno}}</h2>
			<form name="add_subdealer_content" method="post" action="{% url 'purchase_info' purchase_info_id=purchase.id %}">{% csrf_token %}
				<div class="sub_contents">
					<label>Created By : </label>
					<span>{{purchase.created_by.first_name}} {{purchase.created_by.first_name}}</span>
				</div>
				<div class="sub_contents">
					<label>Date : </label>
					<span>{{purchase.date}}</span>
				</div>
				<div class="sub_contents">
					<label>Dealer PO Number : </label>
					<span>{{purchase.dealer_po_number}}</span>
				</div>
				<div class="sub_contents">
					<label>Invoice Number : </label>
					<span>{{purchase.invoice_no}}</span>
				</div>
				<div class="sub_contents">
					<label>Dealer Name : </label>
					<span>{{purchase.dealer_name}}</span>
				</div>
				<div class="sub_contents">
					<label>Dealer Purchase in Charge : </label>
					<span>{{purchase.dealer_purchase_in_charge}}</span>
				</div>
				<div class="sub_contents">
					<label>Purchaser Sales Man : </label>
					<span>{{purchase.purchaser_sales_man}}</span>
				</div>
				<div class="sub_contents">
					<label>Brand : </label>
					<span>{{purchase.brand}}</span>
				</div>
				<div class="sub_contents">
					<label>Model : </label>
					<span>{{purchase.model}}</span>
				</div>
				<div class="sub_contents">
					<label>Contact Person : </label>
					<span>{{purchase.contact_person}}</span>
				</div>
				<div class="sub_contents">
					<label>Block/House Number: </label>
					<span name="address" readonly>{{purchase.block_house_number}}</span>
				</div>
				<div class="sub_contents">
					<label>Floor Number : </label>
					<span>{{purchase.floor_number}}</span>
				</div>
				<div class="sub_contents">
					<label>Unit Number: </label>
					<span name="address" readonly>{{purchase.unit_number}}</span>
				</div>
				<div class="sub_contents">
					<label>Building Name: </label>
					<span name="address" readonly>{{purchase.building_name}}</span>
				</div>
				<div class="sub_contents">
					<label>Street Name: </label>
					<span name="address" readonly>{{purchase.street_name}}</span>
				</div>
				<div class="sub_contents">
					<label>Postal Code: </label>
					<span name="address" readonly>{{purchase.postal_code}}</span>
				</div>
				<div class="sub_contents">
					<label>Email: </label>
					<span name="address" readonly>{{purchase.email}}</span>
				</div>
				<div class="sub_contents">
					<label>Telephone Number: </label>
					<span name="address" readonly>{{purchase.telephone_number}}</span>
				</div>
				<div class="sub_contents">
					<label>Mobile Number: </label>
					<span name="address" readonly>{{purchase.mobile_number}}</span>
				</div>
				{% for delivery_details in purchase.delivery_requested_date.all%}
					<div class="sub_contents">
						<label>Quantity : </label>
						<span>{{delivery_details.quantity}}</span>
					</div>
					<div class="sub_contents">
						<label>Delivery Requested Date : </label>
						{% if user.userprofile_set.all.0.user_type == 'customer/dealer' or user.is_superuser %}
							<input type="text" name="delivery_requested_date" value="{{delivery_details.delivery_date|date:'Y-m-j'}}" id="delivery_date" ><br>
						{% else %}
							<span> {{delivery_details.delivery_date}} </span>
						{% endif %}
					</div>
				{% endfor %}
				{% if purchase.delivery_requested_express_delivery%}
					<div class="sub_contents">
						<label>Express Delivery : </label>
						<span>{{purchase.delivery_requested_express_delivery}}</span>
					</div>
				{% endif %}
				<div class="sub_contents">
					<label>Installation Requested Date : </label>
					{% if user.userprofile_set.all.0.user_type == 'customer/dealer' or user.is_superuser %}
						<input type="text" name="installation_requested_date" value="{{purchase.installation_requested_date}}" id="installation_date"><br>
					{% else %}
						<span> {{purchase.installation_requested_date}} </span>
					{% endif %}
				</div>
				{% if purchase.installation_requested_express_delivery%}
					<div class="sub_contents">
						<label>Express Delivery : </label>
						<span>{{purchase.installation_requested_express_delivery}}</span>
					</div>
				{% endif %}
				<div class="sub_contents">
					<label>Extra Man Power : </label>
					{% if user.userprofile_set.all.0.user_type == 'customer/dealer' or user.is_superuser %}
						<input type="text" name="extra_man_power_request" value="{{purchase.extra_man_power_request}}"><br>
					{% else %}
						<span>{{purchase.extra_man_power_request}}</span>
					{% endif %}
					
				</div>
				<div class="sub_contents">
					<label>Remarks : </label>
					<span type="text" name="remarks" readonly>{{purchase.remarks}}</span>
				</div>
				{% if user.userprofile_set.all.0.user_type == 'customer/dealer' or user.is_superuser%}
					<div class="sub_contents">
						<div class="buttons">
							<input type="submit" value="Save">
						</div>
					</div>
				{% endif %}
			</form>
	</div>
{% endblock content %}